data/*
gpu*
profile/*
*.swp
*.pyc
__pycache__/*
result/*
*.csv
*.pth
plots/*
old/*
*.log
todo
script*
.ray_result/*
script/*
*.exp*.sh
none_result/*
test.py
ray_result_bkup/*
temp*
*.swo
libs/__pycache__/*
210701*.sh
EnsemblePytorch/*
plot_cnsm_exp1/*
plot_cnsm_exp2_1/*
plot_cnsm_exp2_2/*
210705*.sh
210629*.sh
.neptune/*
